{{template "admin/layout_head" (dict "pageClass" "admin config editor")}}
<div class="ui container">
	<h3 class="ui top attached header">
		{{ctx.Locale.Tr "admin.config_editor"}}
	</h3>
	<div class="ui attached segment">
		{{template "base/alert" .}}
		<form class="ui form" method="post" action="{{AppSubUrl}}/-/admin/config/editor">
			{{.CSRFTokenHTML}}
			<div class="field">
				<label>{{ctx.Locale.Tr "admin.config_editor.file_path"}}</label>
				<code>{{.CustomConf}}</code>
			</div>
			<div class="field">
				<textarea id="config_content" name="config_content" rows="40" class="tw-font-mono" style="tab-size: 4;">{{.ConfigContent}}</textarea>
			</div>
			<div class="ui message warning">
				{{ctx.Locale.Tr "admin.config_editor.restart_warning"}}
			</div>
			<div class="field">
				<button class="ui primary button">{{ctx.Locale.Tr "save"}}</button>
			</div>
		</form>
	</div>

	<h3 class="ui top attached header">
		{{ctx.Locale.Tr "admin.config_editor.restart_server"}}
	</h3>
	<div class="ui attached segment">
		<div class="ui message info">
			<p>{{ctx.Locale.Tr "admin.config_editor.restart_manual"}}</p>
		</div>
	</div>
</div>
{{template "admin/layout_footer" .}}
